{% extends "base.html" %}
{% block title %} Home Page{% endblock %}

{% block content %}
<!-- the # sign is for staying on the same page; use "get" instead of post if needed -->
<div class="spotify5050">
  <form action="#" method="post">
    <p>Enter your city name (capitalization doesn't matter, <br> for cities with two names (ex. New York) include a space):</p>
    <p><input type = "text" name = "cityName" /></p>
    <p><input type = "submit" value = "submit" /></p>
  </form>
</div>
{% endblock %}
